<div class="ui grid">
  <div class="two column row">
    <div class="column">
      <app-profile-card popup message="Clicked me!" #p1="popup"></app-profile-card>
      <button (click)="p1.onClick()" class="ui fluid button">
        Trigger popup
      </button>
    </div>

    <div class="column">
      <app-profile-card popup message="Another click!" #p2="popup"></app-profile-card>
      <button (click)="p2.onClick()" class="ui fluid button">
        Trigger popup
      </button>
    </div>
  </div>
</div>
